.container {
	background-image: url("../../assets/antoine-barres.jpg");
	/*background: #007BFF;*/
	display: flex;
	flex-direction: column;
	height: 100%;
}

.top-section {
	flex: 1;
	/*background: brown;*/
	text-align: center;
	justify-content: center;
	align-items: center;
}

.bottom-section {
	/*background: white;*/
	display: flex;
	flex: 1;
}

.left-section,
.right-section {
	flex: 1;
}

.left-section {
	display: flex;
	justify-content: right;
	/*background-color: red;*/
	margin: 30px;
}

.right-section {
	/*background-color: green;*/
	display: flex;
	margin: 30px;
}

.titre {
	margin: 70px;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.titre-size {
	font-size: 50px;
	margin-bottom: 70px;
}